html {
	margin:0;
    padding:0;
    height: 100%;
}
body {
	margin:0;
    padding:0;
	height: 100%;
}

/*preload*/

@media screen {
	div#preloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;
		}
	div#preloader img {
		display: block;
		}
	}
@media print {
	div#preloader, 
	div#preloader img {
		visibility: hidden;
		display: none;
		}
	}
